  
    input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
   }

   input[type=submit] {
  background-color: #20B2AA;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  }
    input[type=submit]:hover {
  background-color: white;
  color: ;
  border: 2px solid black;
   }
  
   
